
@font-face {
  font-family: 'TickingTimebombBB';
  src: url('TickingTimebombBB.eot?#iefix') format('embedded-opentype'),  url('TickingTimebombBB.woff') format('woff'), url('TickingTimebombBB.ttf')  format('truetype'), url('TickingTimebombBB.svg#TickingTimebombBB') format('svg');
  font-weight: normal;
  font-style: normal;
}
